<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommunityMapper">
 	
	<resultMap id="communityMap" type="community">
		<result property="communityCode" 		column="community_code" 		jdbcType="NUMERIC"/>
		<result property="communityBoard"		column="community_board" 		jdbcType="CHAR" />
		<result property="communityTitle" 		column="community_title" 		jdbcType="VARCHAR" />
		<result property="communityContent" 	column="community_content" 		jdbcType="VARCHAR" />
		<result property="communityDate" 		column="community_date" 		jdbcType="VARCHAR" />
		<result property="communityThumbnail" 	column="community_thumbnail" 	jdbcType="VARCHAR" />
		<result property="openRange" 			column="open_range" 			jdbcType="CHAR" />
		<result property="views" 				column="views" 					jdbcType="NUMERIC"  />
		<result property="writer" 				column="writer" 				jdbcType="NUMERIC" />
		<result property="communityHashtagCode" column="hashtag_code" 			jdbcType="NUMERIC" />
		<result property="city" 				column="city_name" 				jdbcType="VARCHAR" />
	</resultMap>
	
	<insert id="addCommunity" parameterType="community">
		<selectKey keyProperty="communityCode" resultType="int" order="BEFORE">
		     SELECT MAX(community_code)+1 FROM community
		</selectKey>
		INSERT
		INTO community (community_code, community_board, community_title, community_content, community_date,community_thumbnail,
						open_range, views, writer, hashtag_code, city_name)
		VALUES (seq_community_code.nextval,#{communityBoard},#{communityTitle},<![CDATA[#{communityContent}]]>,to_char(sysdate,'yy.mm.dd hh24:mi'),
				#{communityThumbnail:VARCHAR},#{openRange},#{views},#{writer},#{communityHashtagCode:NUMERIC},#{city:VARCHAR})
	</insert>
	 
	<select 	id="getCommunity"		parameterType="int"		resultMap="communityMap">
		SELECT
		community_code, community_board, community_title,community_content, community_date, views, writer, hashtag_code
		FROM community
		WHERE community_code = #{communityCode}
	</select>
	
	<update 	id="countCommunity" 	parameterType="community">
		UPDATE community
		<set>
			views = #{views}+1
		</set>
		WHERE community_code = #{communityCode}
	</update> 

	<update		id="updateCommunity"	parameterType="community" >
		UPDATE community
		<set>
		    community_board 	= #{communityBoard},
			community_title		= #{communityTitle},
			community_content	= <![CDATA[#{communityContent}]]>,
			community_thumbnail	= #{communityThumbnail:VARCHAR},
			open_range			= #{openRange},
			hashtag_code		= #{communityHashtagCode:NUMERIC},
			city_name           = #{city:VARCHAR}
		</set>
		WHERE community_code = #{communityCode}
	</update>
		 
	<select  	id="getCommunityList"  	parameterType="map"	resultMap="communityMap">
		SELECT *
		FROM (SELECT first_table.*, ROWNUM AS row_seq
		            FROM ( SELECT *
	                       FROM community
	                        <if test="communityBoard != 0">
	                       	 	<where>
		                       		<if test="communityBoard == 1">
		                       			community_board = 1
		                       		</if>
		                       		<if test="communityBoard == 2">
		                       			community_board = 2
		                       		</if>
		                       		<if test="communityBoard == 3">
		                       			community_board = 3
		                       		</if>
	                       		</where>
	                        </if>
	                       	<if test="searchCondition != null or searchKeyword != null">
	                        	<where>
	                        		<if test="searchCondition == 0 and searchKeyword !='' ">
				                        city_name LIKE &apos;%${searchKeyword}%&apos;
	                        		</if>
	                        		<if test="searchCondition == 1 and searchKeyword !='' ">
				                        community_title LIKE &apos;%${searchKeyword}%&apos;
	                        		</if>
	                        		<if test="searchCondition == 2 and searchKeyword !='' ">
				                        community_content LIKE &apos;%${searchKeyword}%&apos;
	                        		</if>
	                        		<if test="searchCondition == 3 and searchKeyword !='' ">
				                        hashtag_code LIKE &apos;#%${searchKeyword}%&apos;
	                        		</if>
	                        		<if test="searchCondition == 4 and searchKeyword !='' ">
				                        writer LIKE &apos;%${searchKeyword}%&apos;
	                        		</if>
	                        		<if test="searchCondition == 5 and searchKeyword !='' ">
				                        city_name LIKE &apos;%${searchKeyword}%&apos;
				                        OR community_title LIKE &apos;%${searchKeyword}%&apos;
				                        OR community_content LIKE &apos;%${searchKeyword}%&apos;
				                        OR hashtag_code LIKE &apos;#%${searchKeyword}%&apos;
				                        OR writer LIKE &apos;%${searchKeyword}%&apos;
	                        		</if>
	                        	</where>
	                       	</if>
	                        ORDER BY community_code DESC ) first_table
		            WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select  	id="getCommunityBestList"  	parameterType="map"	resultMap="communityMap">
		SELECT *
			FROM (SELECT first_table.*, ROWNUM AS row_seq
		            FROM ( SELECT community_code, community_board, community_title, community_content, community_date,
		                                    community_thumbnail, open_range, views, writer, city_name
	                        FROM community
	                        ORDER BY views DESC ) first_table
		            WHERE ROWNUM  &lt;= 3 )
			WHERE  row_seq BETWEEN 0 AND 3
			
	</select>
	<delete 	id="deleteCommunity" 	parameterType="int">
		DELETE
		FROM community
		WHERE community_code = #{communityCode}
	</delete>
	
	<select  id="getTotalCount"  parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM community
	</select>
	
</mapper>