<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommunityMapper">
 	
	<resultMap id="communityMap" type="community">
		<result property="communityCode" 		column="community_code" 		jdbcType="NUMERIC"/>
		<result property="communityBoard"		column="community_board" 		jdbcType="CHAR" />
		<result property="communityTitle" 		column="community_title" 		jdbcType="VARCHAR" />
		<result property="communityContent" 	column="community_content" 		jdbcType="VARCHAR" />
		<result property="communityDate" 		column="community_date" 		jdbcType="VARCHAR" />
		<result property="communityThumbnail" 	column="community_thumbnail" 	jdbcType="VARCHAR" />
		<result property="openRange" 			column="open_range" 			jdbcType="CHAR" />
		<result property="views" 				column="views" 					jdbcType="NUMERIC"  />
		<result property="writer" 				column="writer" 				jdbcType="NUMERIC" />
		<result property="hashtag" 				column="hashtag_code" 			jdbcType="VARCHAR" />
		<result property="city" 				column="city_name" 				jdbcType="VARCHAR" />
	</resultMap>
	
	<insert 	id="addCommunity"		parameterType="community" >
		INSERT
		INTO community (community_code, community_board, community_title, community_content, community_date,community_thumbnail,
						open_range, views, writer, hashtag_code, city_name)
		VALUES (seq_community_code.nextval,#{communityBoard},#{communityTitle},<![CDATA[#{communityContent}]]>,to_char(sysdate,'yy.mm.dd hh24:mi'),
				#{communityThumbnail:VARCHAR},#{openRange},#{views},#{writer},#{hashtag:VARCHAR},#{city:VARCHAR})
	</insert>
	 
	<select 	id="getCommunity"		parameterType="int"		resultMap="communityMap">
		SELECT
		community_code, community_board, community_title,community_content, community_date, views, writer, hashtag_code
		FROM community
		WHERE community_code = #{communityCode}
	</select>
	 
	<update		id="updateCommunity"	parameterType="string" >
	
	</update>
		 
	<select  	id="getCommunityList"  	parameterType="search"	resultMap="communityMap">
		SELECT *
		FROM community
	</select>
	 
	<delete 	id="deleteCommunity" 	parameterType="string">
	
	</delete>
	
	<select  id="getTotalCount"  parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM community
	</select>
	
</mapper>