<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PartyMapper">
 	
 	
	<resultMap id="partyMap" type="party">
		<result property="partyCode" 		column="party_code" 		jdbcType="NUMERIC"/>
		<result property="partyTitle"		column="party_title" 		jdbcType="VARCHAR" />
		<result property="partyContent" 	column="party_content" 		jdbcType="VARCHAR" />
		<result property="partyStart" 		column="party_start" 			jdbcType="VARCHAR" />
		<result property="partyEnd" 		column="party_end" 			jdbcType="VARCHAR" />
		<result property="latitude" 		column="latitude" 	jdbcType="NUMERIC" />
		<result property="longitude" 		column="longitude" 			jdbcType="NUMERIC" />
		<result property="partyPeople" 		column="party_people" 			jdbcType="VARCHAR"  />
		<result property="partyWriter" 		column="writer" 		jdbcType="NUMERIC" />
		<result property="partyRecruitment"	column="party_recruitment" 		jdbcType="VARCHAR" />
		<result property="gender"			column="gerder" 		jdbcType="VARCHAR" />
		<result property="age"				column="age" 		jdbcType="NUMERIC" />
		<result property="partyHashtagCode"	column="hashtag_code" 		jdbcType="NUMERIC" />
		<result property="regDate"			column="reg_date" 		jdbcType="DATE" />
		<association property="partyWriter" javaType="user" >
			<result property="userCode" 	column="USER_CODE" />
			<result property="nickname" 	column="NICKNAME" />
			<result property="profileImg"	column="PROFILE_IMG" />
		</association>
		<association property="city" javaType="city" >
			<result property="cityName" 	column="CITY_NAME" 	 />
			<result property="countryName" 	column="COUNTRY_NAME"/>
			<result property="flagImage" 	column="FLAG_IMAGE"/>
		</association>
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addParty"		parameterType="party" >
		<selectKey keyProperty="party" resultType="int" order="BEFORE">
		     SELECT MAX(party_code)+1 FROM party
		</selectKey>
		 	INSERT
		 	INTO party (seq_party_code.nextval,
		 				party_title,
		 				party_content,
		 				party_start,
		 				party_end,
		 				latitude,
		 				longitude,
		 				party_people,
		 				partyWriter,
		 				partyRecruitment,
		 				gender,
		 				age,
		 				city_name,
		 				hashtag_code,
		 				sysdate)
		 	VALUES (seq_party_code.nextval,
		 				#{partyTitle},
		 				#{partyContent},
		 				to_date(#{partyStart},'yyyy-mm-dd'),
		 				to_date(#{partyEnd},'yyyy-mm-dd'),
		 				#{latitude},
		 				#{longitude},
		 				#{partyPeople},
		 				#{partyWriter.userCode},
		 				#{partyRecruitment},
		 				#{gender},
		 				#{age},
		 				#{partyHashtagCode},
		 				#{city.cityName},
		 				sysdate)
	</insert>
	
</mapper>

