<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PlannerMapper">
 	
	<resultMap id="plannerSelectMap" type="planner">
		<result property="plannerCode" 			column="PLANNER_CODE" 			jdbcType="NUMERIC"/>
		<result property="plannerName"				column="PLANNER_NAME" 				jdbcType="VARCHAR" />
		<result property="departDate" 			column="DEPART_DATE" 		jdbcType="VARCHAR" />
		<result property="plannerImage" 				column="PLANNER_IMAGE" 				jdbcType="VARCHAR" />
		<result property="userCode" 				column="USER_CODE" 				jdbcType="VARCHAR" />
		<result property="member" 				column="MEMBER" 				jdbcType="CHAR" />
		<result property="privacy" 				column="PRIVACY" 				jdbcType="CHAR" />
		<result property="status" 				column="STATUS" 				jdbcType="CHAR"  />
		<result property="isGroup" 			column="ISGROUP" 			jdbcType="CHAR" />
		<result property="boardCode" 				column="BOARD_CODE" 				jdbcType="CHAR" />
		<result property="regDate" 				column="REG_DATE" 			jdbcType="DATE" />

	</resultMap>
	
	<resultMap id="routeSelectMap" type="route">
		<result property="routeCode" 			column="route_code" 			jdbcType="NUMERIC"/>
		<result property="plannerVer" 			column="planner_ver" 			jdbcType="NUMERIC"/>
		<result property="plannerCode" 			column="planner_code" 			jdbcType="NUMERIC"/>
		
		<result property="cityName" 			column="city_name" 			jdbcType="VARCHAR"/>
		<result property="cityOrder"	column="city_order" 		jdbcType="NUMERIC" />
		<result property="stayDay" 			column="stay_day" 		jdbcType="NUMERIC" />
		<result property="lat" 			column="lat" 		jdbcType="VARCHAR" />
		<result property="lng" 			column="lng" 		jdbcType="VARCHAR" />
		<result property="startDate" 			column="START_DATE" 		jdbcType="VARCHAR" />
		<result property="endDate" 			column="END_DATE" 		jdbcType="VARCHAR" />
		
		</resultMap>	
	
	<!-- <resultMap id="scheduleSelectMap" type="schedule">
		<result property="scheduleCode"				column="ROUTE_CODE" 				jdbcType="NUMERIC" />
		<result property="scheDay"				column="SCHE_DAY" 				jdbcType="VARCHAR" />
		<result property="cityOrder"				column="TIME_HOUR" 				jdbcType="NUMERIC" />
		<result property="stayDay"				column="STAY_DAY" 				jdbcType="NUMERIC" />
		<result property="plannerCode" 			column="PLANNER_CODE" 			jdbcType="NUMERIC"/>	
		<result property="routeCode" 			column="ROUTE_CODE" 			jdbcType="NUMERIC"/>	
	</resultMap>	
	 -->
		<!-- SQL : INSERT -->
	<insert 	id="addRoute"		parameterType="route" >
	 	INSERT
		INTO route (route_code, planner_ver, planner_code, city_name ,stay_day, city_order,  lat, lng, start_date, end_date) 
		VALUES	 (seq_route_route_no.nextval, #{plannerVer:INTEGER}, #{plannerCode:INTEGER}, #{cityName:VARCHAR} ,#{stayDay:INTEGER}, #{cityOrder:INTEGER} , #{lat:VARCHAR}, #{lng:VARCHAR},#{startDate:VARCHAR}, #{endDate:VARCHAR})
	 </insert>
	
	
</mapper>