<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PlannerMapper">
 	
	<resultMap id="plannerSelectMap" type="planner">
		<result property="plannerCode" 			column="PLANNER_CODE" 			jdbcType="NUMERIC"/>
		<result property="plannerName"				column="PLANNER_NAME" 				jdbcType="VARCHAR" />
		<result property="departDate" 			column="DEPART_DATE" 		jdbcType="VARCHAR" />
		<result property="plannerImage" 				column="PLANNER_IMAGE" 				jdbcType="VARCHAR" />

		<result property="member" 				column="MEMBER" 				jdbcType="CHAR" />
		<result property="privacy" 				column="PRIVACY" 				jdbcType="CHAR" />
		<result property="status" 				column="STATUS" 				jdbcType="CHAR"  />
		<result property="isGroup" 			column="ISGROUP" 			jdbcType="CHAR" />
		<result property="boardCode" 				column="BOARD_CODE" 				jdbcType="CHAR" />
		<result property="regDate" 				column="REG_DATE" 			jdbcType="DATE" />
	<association property="user" column="user_code"  select="UserMapper.getUser" javaType="user"/> 
	</resultMap>
	
	<resultMap id="routeSelectMap" type="route">
		<result property="routeCode" 			column="route_code" 			jdbcType="NUMERIC"/>
		<!-- <result property="plannerCode" 			column="PLANNER_CODE" 			jdbcType="NUMERIC"/> -->
		<result property="plannerVer" 			column="planner_ver" 			jdbcType="NUMERIC"/>
		<result property="cityName" 			column="city_name" 			jdbcType="VARCHAR"/>
		<result property="cityOrder"	column="city_order" 		jdbcType="NUMERIC" />
		<result property="stayDay" 			column="stay_day" 		jdbcType="NUMERIC" />
		<result property="lat" 			column="lat" 		jdbcType="VARCHAR" />
		<result property="lng" 			column="lng" 		jdbcType="VARCHAR" />
		<result property="startDate" 			column="START_DATE" 		jdbcType="DATE"  />
		<result property="endDate" 			column="END_DATE" 		jdbcType="DATE" />
	<association property="planner" 			column="planner_code" 		select="PlannerMapper.getPlanner" javaType="planner"/>
		</resultMap>
		
		 <resultMap id="scheduleSelectMap" type="schedule">
		<result property="scheCode"				column="SCHE_CODE" 				jdbcType="NUMERIC" />
		<!-- <result property="plannerCode" 			column="PLANNER_CODE" 			jdbcType="NUMERIC"/>
		<result property="routeCode" 			column="route_code" 			jdbcType="NUMERIC"/> -->
		<result property="plannerVer" 			column="planner_ver" 			jdbcType="NUMERIC"/>
		<result property="scheDay"				column="SCHE_DAY" 				jdbcType="DATE" />
		<result property="timeHour"				column="TIME_HOUR" 				jdbcType="VARCHAR" />
		<result property="timeMin"				column="TIME_MIN" 				jdbcType="VARCHAR" />
		<result property="scheName"				column="SCHE_NAME" 				jdbcType="VARCHAR" />
		<result property="schePlace"				column="SCHE_PLACE" 				jdbcType="VARCHAR" />
		<result property="scheDetail" 			column="SCHE_DETAIL" 			jdbcType="VARCHAR"/>	
		<result property="accomodation" 			column="ACCOMODATION" 			jdbcType="VARCHAR"/>	
		<result property="color" 			column="COLOR " 			jdbcType="VARCHAR"/>	

	<!-- <association property="PLANNER" column="PLANNER_CODE"  select="PlannerMapper.getPlanner" javaType="planner"/>
	<association property="ROUTE" column="ROUTE_CODE"  select="PlannerMapper.getRoute" javaType="route"/> -->
	</resultMap> 
	
	 	<!-- 1. planner -->
	 	
	 <insert 	id="addPlanner"		parameterType="planner" >
	 
	 	INSERT
		INTO planner(PLANNER_CODE ,USER_CODE, PLANNER_NAME , PLANNER_IMAGE, MEMBER, PRIVACY, STATUS, ISGROUP , BOARD_CODE, DEPART_DATE , REG_DATE ) 
		VALUES	 (${planner_code} , #{user.userCode}, #{plannerName:VARCHAR} , #{plannerImage:VARCHAR}, #{member}, #{privacy}, 'B',  'N' , '4', #{departDate:VARCHAR}, SYSDATE)
	 	
	 </insert>
	 
	
	 <select 	id="getPlanner"	parameterType="string"	resultMap="plannerSelectMap">
		SELECT
		user_code, planner_name , planner_image,member, privacy, status, ISGROUP , BOARD_CODE, DEPART_DATE , REG_DATE
		FROM planner
		WHERE planner_code = #{plannerCode}
	 </select>
	 
	 
		<!-- 2. route -->
	 	
	<insert 	id="addRoute"		parameterType="route" >
	 	INSERT
		INTO route (route_code, planner_ver, planner_code, city_name ,stay_day, city_order,  lat, lng, start_date, end_date) 
		VALUES	 (seq_route_code.nextval, #{plannerVer:INTEGER}, #{planner.plannerCode}, #{cityName:VARCHAR} ,#{stayDay:INTEGER}, #{cityOrder:INTEGER} , #{lat:VARCHAR}, #{lng:VARCHAR},#{startDate:DATE}, #{endDate:DATE})
	 </insert>
	
		 <select 	id="getRoute"	parameterType="string"	resultMap="routeSelectMap">
		SELECT
		planner_ver, planner_code, city_name ,stay_day, city_order,  lat, lng
		FROM route
		WHERE route_code = #{routeCode}
	 </select>
	 
	 <select  id="getRouteList"  parameterType="hashmap"	resultMap="routeSelectMap">

	  	SELECT
		city_name ,city_order, stay_day, start_Date,end_Date 
	  	FROM route 
	  	<where>
	  	planner_code = #{plannerCode}
		</where>
	  					
	</select>
	 <!-- 3. route -->
	 
		<insert 	id="addSchedule"		parameterType="schedule" >
	 	INSERT
		INTO schedule (sche_code, route_code, planner_ver, planner_code, sche_day, time_hour,  time_min,  sche_name, sche_place, sche_detail,accomodation, color ) 
		VALUES	 (seq_schedule_code.nextval,1, 1, 1, #{scheDay:DATE} ,#{timeHour:VARCHAR}, #{timeMin:VARCHAR}, #{scheName:VARCHAR}, #{schePlace:VARCHAR}, #{scheDetail:VARCHAR},null,#{color:VARCHAR})
	 </insert>
	
		<select 	id="getSchedule"	parameterType="string"	resultMap="scheduleSelectMap">
		SELECT
		route_code, planner_ver, planner_code, sche_day, time_hour,  time_min,  sche_name, sche_place, sche_detail
		FROM schedule
		WHERE sche_code = #{scheCode}
	 </select>
	
		 <update	id="updateSchedule"	parameterType="schedule" >
	 	UPDATE schedule 
	 	<set>
	 		SCHE_NAME	= #{scheName},
	 		SCHE_PLACE = #{schePlace},
	 		SCHE_DETAIL = #{scheDetail},
			TIME_HOUR = #{timeHour},
			TIME_MIN = #{timeMin}
		</set>
		WHERE sche_code = #{scheCode}
	 </update>
	 
	 <delete id="deleteSchedule" parameterType="int">
	  	DELETE 
	  	FROM schedule 
	  	WHERE sche_code = #{scheCode}
  	</delete>
 
  	<select  id="getScheduleList"  parameterType="hashmap"	resultMap="scheduleSelectMap">

	  	SELECT
		sche_code, sche_day, sche_name, color
	  	FROM schedule
	  	<where>
	  	planner_code = #{plannerCode}
		</where>
			</select>
</mapper>