<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WalletMapper">

	<resultMap id="walletSelectMap" type="wallet">
		<result property="walletDetailCode"	column="W_DETAIL_CODE"	jdbcType="NUMERIC" />
		<result property="walletCode"		column="W_CODE"			jdbcType="NUMERIC" />
		<result property="part"				column="PART"			jdbcType="CHAR" />
		<result property="moneyUnit"		column="MONEY_UNIT"		jdbcType="VARCHAR" />
		<result property="expression"		column="EXPRESSION"		jdbcType="VARCHAR" />
		<result property="price"			column="PRICE"			jdbcType="NUMERIC" />
		<result property="krwPrice"			column="KRW_PRICE"		jdbcType="NUMERIC" />
		<result property="regDate"			column="REG_DATE"		jdbcType="DATE" />
		<result property="item"				column="ITEM"			jdbcType="VARCHAR" />
		<result property="content"			column="CONTENT"		jdbcType="VARCHAR" />
		<result property="payOption"		column="PAY_OPTION"		jdbcType="CHAR" />
		<result property="exchangeRate"		column="EXCHANGE_RATE"	jdbcType="NUMERIC" />
		<result property="category"			column="CATEGORY"		jdbcType="CHAR" />
		<result property="walletImage"		column="W_IMAGE"		jdbcType="VARCHAR" />
		<result property="payer.userCode"	column="PAYER"			jdbcType="NUMERIC" />
	</resultMap>
	
	<!-- walletListView.jsp -->
	<select id="isWallet" parameterType="int" resultType="int">
		SELECT NVL(COUNT(*), 0)
		FROM wallet
		WHERE planner_code = #{value}
			  AND is_wallet = 0
	</select>
	
	<select id="getWalletCode" parameterType="int" resultType="int">
		SELECT w_code
		FROM wallet
		WHERE planner_code = #{value}
			  AND is_wallet = 0
	</select>
	
	<insert id="addWalletView" parameterType="int">
		INSERT
		INTO wallet ( w_code, planner_code, is_wallet )
		VALUES ( seq_w_code.nextval, #{value}, 0 )
	</insert>
	
	<update	id="deleteWalletView" parameterType="int">
	  	UPDATE wallet
		<set>
			is_wallet = 1
		</set>
	  	<where>
	  		w_code = #{value}
	  	</where>
	</update>
	
	<!-- walletList.jsp -->
	<insert id="addWallet" parameterType="wallet">
		INSERT
		INTO wallet_detail ( w_detail_code, w_code, part, money_unit, expression, price, krw_price,
							 reg_date, item, content, pay_option, exchange_rate, category, w_image, payer )
		VALUES ( seq_w_detail_code.nextval, #{walletCode}, #{part}, #{moneyUnit}, #{expression},
				 #{price}, #{krwPrice}, #{regDate}, #{item:VARCHAR}, #{content:VARCHAR}, #{payOption},
				 #{exchangeRate:NUMERIC}, #{category}, #{walletImage:VARCHAR}, #{payer.userCode:NUMERIC} )
	</insert>
	
	<select id="getWallet" parameterType="int" resultMap="walletSelectMap">
		SELECT w_detail_code, w_code, part, money_unit, expression, price, krw_price,
			   reg_date, item, content, pay_option, exchange_rate, category, w_image, payer
		FROM wallet_detail
		<where>
			w_detail_code = #{value}
		</where>
	</select>
	
	<update	id="updateWallet" parameterType="wallet">
	  	UPDATE wallet_detail
		<set>
			money_unit = #{moneyUnit},
			expression = #{expression},
			price = #{price},
			krw_price = #{krwPrice},
			reg_date = #{regDate},
			item = #{item:VARCHAR},
			content = #{content:VARCHAR},
			pay_option = #{payOption},
			exchange_rate = #{exchangeRate:NUMERIC},
			category = #{category},
			w_image = #{walletImage:VARCHAR},
			payer = #{payer.userCode:NUMERIC}
		</set>
	  	<where>
	  		w_detail_code = #{walletDetailCode}
	  	</where>
	</update>
	
	<update	id="deleteWallet" parameterType="int">
	  	UPDATE wallet_detail
		<set>
			category = 9
		</set>
	  	<where>
	  		w_detail_code = #{value}
	  	</where>
	</update>
	
	<select id="getWalletList" parameterType="map" resultMap="walletSelectMap">
		SELECT *
		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
			   FROM ( SELECT *
					  FROM wallet_detail
					  WHERE w_code = #{walletCode}
							AND category <![CDATA[ < ]]> '9'
					  ORDER BY reg_date DESC, w_detail_code DESC ) inner_table
			   WHERE ROWNUM <![CDATA[ < ]]>= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	</select>
	
	<select id="getTotalCount" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM ( SELECT *
			   FROM wallet_detail
			   WHERE w_code = #{walletCode}
					 AND category <![CDATA[ < ]]> '9'
			   ORDER BY reg_date DESC, w_detail_code DESC ) countTable
	</select>
	
</mapper>