@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap');

html, body{font-family: 'Noto Sans KR', sans-serif; font-color: #282c37; font-weight: 400;}

.popup_wrap {display: none; overflow: auto; position: fixed; top: 0; right: 0; bottom: 0; left: 0; line-height: 1; background-color: rgba(0,0,0,.6); z-index: 100;}
.popup_contain {position:fixed; width: 450px; height: 700px; background-color: #fff; border: 1px solid #343a40; border-radius: .8em;}