@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700,900&display=swap');

html, body { font-family: 'Noto Sans KR', sans-serif; font-color: #282c37; font-weight: 400; }
html, body { height: 100%; }

.header_wrap { padding-bottom: 20px; border-bottom: 1px solid #cbcbcb; }
.logo_img { width: 300px; height: auto; }
.main_search { margin-left: 500px; }
.gnb_wrap { padding-top: 100px; }
.openbtn { position: fixed; top:0; }


/* 시차 */


/* 메인 이미지 */
section.visual_image
	{ position: relative; width: 100%; height: 100%; color: rgba(255, 255, 255, .8); background-position: center; background-size: cover; image-repeat: no-repeat; }
section.visual_image > div:first-child { position: absolute; top: 50px; left: 50px; display: block; width: 220px; height: 100px; background-image: url(/resources/images/youloveplan_logo_white.png); background-size: 220px auto; background-repeat: no-repeat; }
.main_txt
	{ position: absolute; font-size: 70px; font-weight: 900; line-height: 1.2; }
.main_txt > span { font-size: 80px; }
.scrolll { display: block; position: absolute; bottom: 50px; left: 50%; color: inherit; font-size: 18px; text-align: center; transform: translateX(-50%); cursor: default; }
.scrolll:hover { color: inherit; text-decoration: none; }
.scrolll > span
	{ position: absolute; top: -70px; left: 50%; width: 30px; height: 30px; margin-left: -15px; border-left: 1px solid #fff; border-bottom: 1px solid #fff;
	  -webkit-transform: rotateZ(-45deg); transform: rotateZ(-45deg); -webkit-animation: sdb 1.5s infinite; animation: sdb 1.5s infinite; box-sizing: border-box; }
@-webkit-keyframes sdb {
  0% { -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px); opacity: 0; }
}
@keyframes sdb {
  0% { transform: rotateY(0) rotateZ(-45deg) translate(0, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px); opacity: 0; }
}

/* 모달창 */
.popup_wrap { display: none; overflow: auto; position: fixed; top: 0 !important; right: 0 !important; bottom: 0 !important; left: 0 !important; line-height: 1; background-color: rgba(0,0,0,.6); z-index: 100; }
.popup_contain { position:fixed ; width: 600px; height: 600px; padding: 10px; background-color: #fff; border: 1px solid #343a40; border-radius: .8em; }

.friendPop_wrap { display: none; overflow: auto; position: fixed; top: 0 !important; right: 0 !important; bottom: 0 !important; left: 0 !important; line-height: 1; background-color: rgba(0,0,0,.6); z-index: 100; }
.friendPop_contain { position:fixed ; width: 600px; height: 600px; padding: 10px; background-color: #fff; border: 1px solid #343a40; border-radius: .8em; }

.timelinePop_wrap { display: none; overflow: auto; position: fixed; right: 0; bottom: 0; line-height: 1; z-index: 100; }
.timelinePop_contain { position:fixed ; right: 5px; bottom:5px; width: 400px; height: 100px; padding: 10px; background-color: #cbcbcb; border: 1px solid #343a40; border-radius: .34em; }

.profilePop_wrap { display: none; overflow: auto; position: fixed; top: 0 !important; right: 0 !important; bottom: 0 !important; left: 0 !important; line-height: 1; background-color: rgba(0,0,0,.6); z-index: 100; }
.profilePop_contain { position:fixed ; width: 600px; height: 0px;  background-color: #fff; }
