/* RESET */
html, body, div, span, ul, li, input, button {margin: 0; padding: 0;}
body {line-height: 1; direction: ltr;}
h2, h3 {margin: 0; padding: 0; font-size: inherit; font-weight: inherit;}
ul, li {list-style:none;}
input, button, select {background: none; border: 0 none;}
input[type=button] {background: transparent; outline: 0; cursor: pointer;}
input[type="radio"] {position: absolute; overflow: hidden; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; clip: rect(0 0 0 0);}
select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
select::-ms-expand {display: none;}
select:focus {outline: none;}
select:active {box-shadow: 0;}
a {color: inherit; text-decoration: none; cursor: pointer;}
a:hover, a:active {color: inherit; text-decoration:none;}

/* COMMON */
.wrap {position: relative; max-width: 1200px; margin: auto; padding-top: 30px;}
.skip {overflow: hidden; position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; clip: rect(0 0 0 0);}
.clear::after {content: ''; display: block; clear: both;}

/* walletListView.jsp */
.pre_btn {margin-left: 10px; font-size: 18px; font-weight: 700;}
.pre_btn i {font-size: 21px;}
.pre_btn span {line-height: 30px;}

.sec_wrap {width: 100%; padding-top: 80px;}
.left_nav, .right_table {float: left;}
.left_nav {width: 10%; padding-left: 20px;}
.right_table {width: 90%; text-align: center;}

/* 좌측 사이드바 */
.day_btn {width: 50px; font-weight: 700; text-align: center;}
a.day_btn:not(:first-child) {margin-top: 10px;}
a.day_btn {display: block; height: 50px; line-height: 50px; background-color: #282c37;}
a.day_btn span {color: #fff;}
span.day_btn {display: inline-block; margin-top: 25px; padding-top: 25px; border-top: 1px solid #cbcbcb;}

/* 검색 */
.search_form {position: absolute; top: 30px; right: 10px; height: 40px; margin-right: 1.5%;}
.search_txt, .search_btn {height: inherit; padding: 7px 12px; border-top-right-radius: 0.25em; border-bottom-right-radius: 0.25em; box-sizing: border-box;}
.search_txt {width: 250px; border: 1px solid #ccc; border-radius: 0.25em;}
.search_btn {margin-left: -7px; color: #fff; background-color: #30a9de;}

/* 우측 콘텐츠 */
.total_table, .detail_table {width: 95%; margin: auto;}
.total_budget, .total_price {width: 100%; height: 50px; line-height: 44px; border: 3px solid #cbcbcb; box-sizing: border-box;}
.total_budget span {display: inline-block; width: 50%; font-size: 20px; font-weight: 700;}
.total_budget span:first-child {background-color: #cbcbcb;}
.total_price {margin-top: 5px;}
.total_floating {float: left; width: 50%; height: 44px; line-height: 44px;}
.total_floating span {display: inline-block; width: 50%;}
.total_floating span:first-child {background-color: #cbcbcb;}

/* 예산 및 지출 추가 팝업 */
.plus_btns {position: relative; margin-top: 30px; margin-right: 2.5%; font-size: 16px; text-align: right;}
.pop_wrap_parent {position: absolute; top: 25px; right: 0; width: auto; height: auto;}
.pop_wrap {padding: 30px 30px; background-color: #fff; border: 2px solid #343a40; border-radius: 0.25em; z-index: 1;}
.pop_left, .cal_btns {float: left; width: 252px;}
.pop_left {margin-right: 30px;}

/* 입력 결과 */
.result_top {position: relative; width: inherit; height: 120px; border-bottom: 1px solid #cbcbcb;}
.date_time {width: inherit; height: 28px; line-height: 26px; font-size: 13px; text-align: center; border: 1px solid #f2c029; border-radius: 0.25em; box-sizing: border-box;}
.unit_selec {position: absolute; top: 50px; left: 0; width: 85px; padding: 7px 12px; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px; border: 1px solid #ccc; border-radius: 0.25em;}
.result {position: absolute; right: 0; width: 160px;}
.price, .krw_price {position: absolute; right: 0; width: 120px; text-align: right;}
.price {top: 20px; height: 27px; line-height: 27px; font-size: 20px;}
.krw_price {top: 50px; height: 23px; line-height: 23px; font-size: 12px;}

/* 유형 선택 */
.pay_option_selec_wrap {margin-top: 15px;}
.pay_option_selec {height: 40px;}
.pay_option_selec .pay_option_wrap {display: inline-block; height: inherit; color: #cbcbcb; font-size: 20px;}
.pay_option_selec .pay_option:checked + label {color: #282c37;}
.pay_option_selec .pay_option_wrap:nth-child(1) {width: 88px; text-align: left;}
.pay_option_selec .pay_option_wrap:nth-child(2) {width: 74px; text-align: center;}
.pay_option_selec .pay_option_wrap:nth-child(3) {width: 74px; margin-right: 5px; text-align: right;}
.pay_option_selec .pay_option_wrap span {line-height: 25px; font-size: 11px;}

/* 환율 설정 */
.apply_exchange_rate {position: relative; width: inherit; height: 80px; border: 1px solid #cbcbcb; border-radius: 0.25em;}
.apply_exchange_rate > span, .apply_exchange_rate > div {position: absolute;}
.apply_exchange_rate > span {left: 15px; line-height: 80px;}
.apply_exchange_rate > div {top: 0; right: 15px; font-size: 12px;}
.apply_exchange_rate > div > span {line-height: 42px; color: #cbcbcb;}
.exchange_rate_btn {width: 90px; height: 21px; line-height: 21px; color: #fff; font-size: 11px; text-align: center; background-color: #f2c029 !important; border-radius: 0.7em;}

/* 항목명 */
.item {width: inherit;}
.item input {width: inherit; height: 28px; margin-top: 20px; line-height: 28px; text-align: center; font-size: 12px; background-color: #cbcbcb;}

/* 계산기 */
.cal_btns > div:first-child {position: relative;}
.expression, .ac {float: right;}
.expression {width: 180px; height: 58px; margin-left: 12px; padding: 0 8px; font-size: 13px; text-align: right;}
.cal_btns .cal_btn {width: 60px; height: 58px; font-size: 20px; border: 1px solid #ccc; border-radius: 0.25em; box-sizing: border-box;}
.cal_left, .cal_right {float: left;}
.cal_left > div, .cal_right .cal_btn {margin-top: 4px;}
.cal_left > div .cal_btn {margin-right: 4px;}
.cal_right {width: 60px;}

/* 버튼 */
.act_btn {position: relative; height: 40px; margin-top: 20px;}
.act_btn a {position: absolute; top: 0; width: 65px; height: inherit; line-height: 40px; color: #fff; text-align: center; background-color: #30a9de; border-radius: 0.25em;}
.act_btn a:first-child {right: 90px;}
.act_btn a:last-child {right: 0;}

/* 테이블 */
.detail_table {margin-top: 20px; margin-bottom: 100px; font-size: 14px;}
.table_header {height: 50px; line-height: 47px; border-top: 2px solid #ccc; border-bottom: 2px solid #ccc;}
.table_row {height: 75px; line-height: 74px; vertical-align: middle; border-bottom: 1px solid #ccc;}
.table_row:last-child {border-bottom: 2px solid #ccc;}
.table_col {display: inline-block;}
.table_header .table_col:nth-child(2), .table_row .table_col:nth-child(1) {width: 3%;}
.table_header .table_col:nth-child(3), .table_row .table_col:nth-child(2) {width: 15%;}
.table_header .table_col:nth-child(4), .table_header .table_col:nth-child(5),
.table_row .table_col:nth-child(3), .table_row .table_col:nth-child(4) {width: 18%; font-weight: 700;}
.table_header .table_col:nth-child(6), .table_row .table_col:nth-child(5) {width: 25%;}
.table_header .table_col:nth-child(7), .table_row .table_col:nth-child(6) {width: 6%;}
.table_col img {width: 60px; height: 60px; border: 1px solid #6c757d;}